<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Input Temperatures</title>
    <link rel="stylesheet" href="/css/style.css"">
</head>

<body>
	<h1>Display Temperatures Between Range</h1>

    <form name="form" action="" method="POST">
        <fieldset>
            <label for="bottomRange">Bottom of range: </label>
            <input type="text" name="bottomRange" id="bottomRange" required>
            <br>
            <label for="topRange">Top of range: </label>
            <input type="text" name="topRange" id="topRange" required>
        </fieldset>
        <br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit Request">
        <hr>
    </form>
	<hr>
    <a href="/">HOME</a>
</body>

</html>