<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Temperature Log</title>
    <link rel="stylesheet" href="/css/style.css"">
</head>

<body>

    <h2>Log a temperature</h2>
    <ul>
        <li><a href="/log">Log a temperature</a></li>
    </ul>
    <hr>

    <h2>Find places with a certain temperature</h2>
	<ul>
        <li><a href="/getLogs">Find places with a certain temperature</a></li>
    </ul>
	<hr>
</body>

</html>