<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Temperature Log</title>
    <link rel="stylesheet" href="/css/style.css"">
</head>

<body>
	<h1>Temperature Log</h1>

    <form name="form" action="" method="POST">
        <fieldset>
            <label for="temp">Temperature: </label>
            <input type="text" name="temp" id="temp" required>
        </fieldset>
        <br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
        <hr>
    </form>
	<hr>
    <a href="/">HOME</a>
</body>

</html>