<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Log Submitted</title>
	<link rel="stylesheet" href="/css/style.css"">
</head>

<body>
	<h1>Submitted Log</h1>
    Temperature: <%- temp %>
	<br>
	Location: 
	Latitude: <%- lat %>
	Longitude: <%- long %>
	<hr>
    <a href="/">HOME</a>
</body>

</html>