<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Entries</title>
	<link rel="stylesheet" href="/css/style.css"">
</head>

<body>
	<h1>Entries within range</h1>

    <%- table %>
	<hr>
    <a href="/">HOME</a>
</body>

</html>